::marker {
    color: blue;
}
ol {
    display: flex;
    grid-template-columns: 200px 200px 200px;
    column-gap: 1rem;
    list-style-type: none;
    text-align: center;
    align-items: center;

}

ol li:first-child {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    animation-name: firstbox;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    transform: rotate(100deg);
    display: flex;
    align-items: center;

    

}

ol li:nth-child(2){
    border: 5px solid black;
    width: 100px;
    height: 100px;
    background-color: rgb(10, 180, 040, 0.5);
    backdrop-filter: blur(10px);
    color: red;
    animation-name: secondbox;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: initial;
    /* animation-direction: alternate-reverse; */
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;


}

ol li:last-child {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 200, 200, 0.5);
    backdrop-filter: blur(10px);
    color: blue;
    animation-name: thirdbox;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    transform: rotate(-100deg);



}
@keyframes firstbox {
    0% {background-color: aqua; transform: translateY(-100px);}
    25% {background-color: blue; transform: translateY(100px);transform: rotate(300deg);}
    50% {background-color: #bf4d60; transform: translateY(50px); transform: translateX(-50px)}
    75% {background-color: aqua; transform: translateY(150px);}
    100% {background-color: rgb(90, 183, 90); transform: translateY,(250px)}
}

@keyframes secondbox {
    0% {background-color: aqua; transform: rotateX(40deg); transform: translateY(200px);}
    25% {background-color: rgb(10, 10, 37); transform: translateY(100px);}
    50% {background-color: #ffc0cb; transform: translateY(50px); width: 200px;}
    75% {background-color: rgba(56, 179, 179, 0.178); transform: translateY(150px);}
    100% {background-color: rgba(56, 137, 56, 0.687); transform: translateY(250px)}
}

@keyframes thirdbox {
    0% {background-color: aqua; transform: rotateX(40deg); transform: translateY(-100px);}
    25% {background-color: rgba(109, 9, 84, 0.543); transform: translateY(100px);transform: rotate(100deg);}
    50% {background-color: #ffc0cbc5; transform: translateY(50px); transform: translateX(50px)}
    75% {background-color: aqua; transform: translateY(150px);}
    100% {background-color: green; transform: translateY,(250px)}
}